@model Fanap.Plus.Product_Management.Models.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectManagementName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectManagementName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductOwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductOwnerName)
        </dd>
        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Teams)

        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Teams)
            {
                <div>@item.Name</div>
            }
        </dd>

        <dt class="col-sm-2">

            @Html.DisplayNameFor(model => model.Members)

        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Members)
            {
                <div>@item.FirstName</div>
                
                <div>@item.LastName</div>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
