@using Fanap.Plus.Product_Management.Helpers
@using Microsoft.CodeAnalysis.Differencing
@model Fanap.Plus.Product_Management.Models.IndexProductViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Products" asp-action="Index">
    <p>
        <select asp-for="ProductTeam" asp-items="Model.Teams">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].DeadlineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductManagementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductOwnerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products)
{
    var creationPersianDate = DateHelper.ConvertToPersian(item.CreationDate);
    var deadlinePersianDate = DateHelper.ConvertToPersian(item.DeadlineDate);
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => creationPersianDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => deadlinePersianDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductManagementName)
            <td>
                @Html.DisplayFor(modelItem => item.ProductOwnerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
